@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {-webkit-tap-highlight-color: transparent;}
html, body, form, input, legend, label, select, button, fieldset, textarea, div, p, pre, blockquote, img, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li {margin:0;padding:0;font-family:'Noto Sans KR','Malgun gothic', 'arial','dotum',sans-serif;/*font-size:15px;*/color:#252e3f;}
em, address {font-style:normal;}
img, fieldset{border:none;}
fieldset{clear:both;}
input, select, img, label {vertical-align:middle;}
label, button{cursor:pointer;}
ul, ul li, dl, ol, ol li{list-style:none;}
a:link, a:visited{text-decoration:none;outline:none;}
button {border:none;}
textarea {resize:none;}
textarea:focus {outline:none;}
audio, canvas, progress, video {display:inline-block;vertical-align:baseline;}
.v_init{vertical-align:initial;}
.v_sub{vertical-align:sub;}
.p_rel{position:relative;}
.p_abs{position:absolute;}
.f_left{float:left;}
.f_right{float:right;}
.p_top0{padding-top:0 !important;}
.p_bottom0{padding-bottom:0 !important;}
.p_left0{padding-left:0px !important;}
.p_left10{padding-left:10px !important;}
.p_right110{padding-right:110px !important;}
.m_top3{margin-top:3px;}
.m_top5{margin-top:5px;}
.m_top10{margin-top:10px;}
.m_top13{margin-top:13px;}
.m_top15{margin-top:15px;}
.m_top20{margin-top:20px;}
.m_top25{margin-top:25px;}
.m_top30{margin-top:30px;}
.m_top40{margin-top:40px;}
.m_top60{margin-top:60px !important;}
.m_left0{margin-left:0px !important;}
.m_left5{margin-left:5px;}
.m_right5{margin-right:5px;}
.m_right10{margin-right:10px;}
.m_right15{margin-right:15px;}
.m_bottom15{margin-bottom:15px;}
.m_bottom23{margin-bottom:23px;}
.m_bottom30{margin-bottom:30px !important;}
.txt_center{text-align:center;}

.w100{width:100% !important;}

.table_line{padding:0px;border-top:0 !important;border-bottom:0 !important;}
.table_sub_line{border-bottom:1px solid #d9dee1;}
.table_sub_line_no{border-top:1px solid #d9dee1 !important;border-bottom:none;}
.clickable{cursor:pointer;}
.clear_fix{content:'';display:table;clear:both;}
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

.f_style1{font-size:14px;color:#333;line-height:1;font-weight:500}
.f_style2{font-size:14px;color:#999;line-height:1;font-weight:500}
.f_style3{font-size:14px;color:#333;line-height:1;font-weight:400}
.f_style4{font-size:17px;color:#333;line-height:1;font-weight:500}
.f_style5{font-size:40px;color:#00c595;}
.f_style6{font-size:40px;color:#f9bb00;}
.f_color1{color:#62a8ea}

.l_h24{line-height:24px;}


/* 공통 btn style */
.btn1{float:right;height:50px;line-height:50px;padding:0 30px;margin-top:20px;border-radius:5px;color:#fff;background-color:#14bd92;outline:none;font-size:16px;letter-spacing:-1.0px;}
.btn1:hover{background-color:#14bd92;box-shadow:inset -2px -2px 0px 0px #109775;outline:none}
.btn1:disabled{background-color:#c9d0d4 ;}
.btn1:disabled:hover{box-shadow:none}
.b_close{float:right;width:40px;height:40px;background:#e7e9ea;color:#b1b6b9;border-radius:50%;text-align:center;outline:none;font-size:22.5px;}
.b_close:hover{background:#62a8ea;color:#fff;}
.b_close span{display:block;color:#b1b6b9;width:40px;height:40px;padding-top:7px;border-radius:50%;line-height:25px;box-sizing:border-box;}
.b_close span:hover{color:#fff;}
.b_change{float:right;height:50px;line-height:50px;padding:0 20px;margin-left:15px;border-radius:5px;color:#fff;background-color:#14bd92;outline:none;font-size:15px;letter-spacing:-1.0px;}
.b_change:disabled{background-color:#c9d0d4 ;}

/* help, adm 문의하기 */
.counsel #main_page_wrap #page_box .top{padding:20px 0;background-color:#62a8ea}
.counsel #page_box .footer{display:none}
.counsel #page_box #contents .contents_main .title{line-height:1;padding:45px 0 50px;box-sizing:border-box;color:#252e3f;font-size:32px;font-family:'Noto Sans KR';font-weight:500;}
.counsel #page_box #contents .contents_main .counsel_box{margin-bottom:30px;}
.counsel #page_box #contents .contents_main .counsel_box .counsel_title{margin-bottom:15px;line-height:1;}
.counsel #page_box #contents .contents_main .counsel_box .counsel_title .text{font-size:15px;color:#333;font-weight:500;}
.counsel #page_box #contents .contents_main .counsel_box .counsel_title .text.error{margin-left:15px;color:#f96868;}
.counsel #page_box #contents .contents_main .counsel_box .counsel_title .text.noti{color:#999;}
.counsel #page_box #contents .contents_main .counsel_box .input_box{width:100%;height:50px;padding:0 20px;line-height:48px;border:1px solid #c9d0d4;border-radius:5px;font-size:15px;box-sizing:border-box;outline:none}
.counsel #page_box #contents .contents_main .counsel_box .input_box::placeholder{color:#999;font-weight:400;}
.counsel #page_box #contents .contents_main .counsel_box .input_box.big{width:100%;height:150px;padding:10px 20px;line-height:22px;border:1px solid #c9d0d4;border-radius:5px;box-sizing:border-box;outline:none}
.counsel #page_box #contents .contents_main .counsel_box .input_box.error{border-color:#f96868;}
.counsel #page_box #contents .contents_main .counsel_box .select_wrap{position:relative;width:100%;height:50px;line-height:48px;border:1px solid #c9d0d4;border-radius:5px;box-sizing:border-box;outline:none;}
.counsel #page_box #contents .contents_main .counsel_box .select_wrap .select_box{border:none;width:100%;padding-left:20px;height:48px;line-height:48px;border-radius:5px;font-size:15px;vertical-align:top;outline:none;cursor:pointer;}
.counsel #page_box #contents .contents_main .counsel_box .select_wrap .mdi-menu-down{position:absolute;top:0;right:0;width:40px;height:48px;border-radius:5px;font-size:20px;background:#fff}
.counsel #dropzone{position:fixed;z-index:-1;top:0;left:0;width:100vw;height:100vh;}
.counsel #dropzone.in{z-index:1;}
.counsel #dropzone .drop_img_box{width:600px;height:400px;margin:270px auto 0;padding-top:37px;border:1px solid #a1a4ab;border-radius:20px;text-align:center;box-sizing:border-box;background-color:#fff;transform:translateY(-700px);opacity:0;}
.counsel #dropzone .drop_img_box .drop_txt{margin-top:25px;line-height:1;font-size:18px;color:#a1a7ae}
.counsel #dropzone.hover{background-color:rgba(37, 46, 63, 0.3);}
.counsel #dropzone.hover .drop_img_box{
	-webkit-transition: transform 0.3s ease-out;
	-moz-transition: transform 0.3s ease-out;
	-ms-transition: transform 0.3s ease-out;
	-o-transition: transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
	transform: translateY(0);
	opacity: 1;
}

.counsel .fileupload_box{height:auto;margin-top:20px;padding:23px 0 26px;text-align:center;border:1px dashed #a1a7ae;border-radius:6px;background:#f3f4f4;box-sizing:border-box;}
.counsel .drag_click{color:#62a8ea;text-decoration:underline;cursor:pointer;}
.counsel .upload_wrap{position:relative;width:100%;margin:0;top:0;min-height:34px;height:34px;}
.counsel .upload_wrap .upload_list{width:100%;height:34px;z-index:0;position:inherit;top:0;left:0;padding:6px 6px 6px 30px;text-align:left;font-size:15px;color: #a1a7ae;border-bottom:1px solid #c9d0d4;white-space:nowrap;max-width:960px;box-sizing:border-box;}
.counsel .upload_wrap .upload_list .file_name .name{width:80%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.counsel .upload_wrap .upload_list .file_size{display:inline;position:absolute;top:7px;right:15px;font-weight:lighter;font-size:14px;color:#b1b6b9;}
.counsel .upload_wrap .upload_list .file_remove{display:inline;position:absolute;top:7px;left:12px;text-align:center;border:none;background-color:#fff}
.counsel .upload_wrap .upload_list .file_remove .mdi-close-circle{color:#a1a7ae;}
.counsel .fileupload-buttonbar .btn{vertical-align:middle;margin-bottom:0 !important;}


@media all and (max-width:960px) {
	/* help 문의하기 */
	.main.counsel #main_page_wrap #page_box #contents{padding:0 15px;}
	.main.counsel #main_page_wrap #page_box .top{padding:13px 75px;background-color:#62a8ea}
	.main.counsel #main_page_wrap #page_box #contents .contents_main .title{padding:20px 0;}
}

@media (max-width:767px) {
	/* help 문의하기 */
	.main.counsel .fileupload_box{font-size:13px;padding:15px;}
	.main.counsel .upload_wrap .upload_list .file_name .name{width:70% !important}
}

@media all and (max-width:750px) {
	/* help 문의하기 */
	.main.counsel #main_page_wrap #page_box .top{padding:0px 15px;background-color:#62a8ea}
	.main.counsel #main_page_wrap #page_box .top .logo{width:44px;height:48px;background:url('/asset/images/linux/linux_06/main/logo_m.png') no-repeat;-webkit-transform:scale(0.5);transform:scale(0.5);}
	.main.counsel #main_page_wrap #page_box .main_box{padding:20px 15px 0 !important;}
}


.sub2 .cancel{width:66px;height:30px;line-height:30px;padding:0;border-radius:3px;font-size:14px;color:#fff;background-color:#a1a7ae;text-align:center;outline:none;letter-spacing:-1.0px;}
.sub2 .ok{width:66px;height:30px;line-height:30px;padding:0;border-radius:3px;font-size:14px;color:#fff;background-color:#14bd92;text-align:center;letter-spacing:-1.0px;}



/* popup reset */
.ui-dialog{padding:0 !important;z-index:10;outline:none;box-shadow:0 0px 3px rgba(0, 0, 0, 0.3);}
.ui-dialog .ui-dialog-titlebar{height:42px;line-height:42px;padding:0 20px !important;border-radius:0;border-bottom:1px solid #d6d6df !important;font-size:17px !important;color:#333 !important;font-weight:500;background-color:#eceff4 !important;}
.ui-dialog .ui-widget-header .ui-icon{background-image:url(/asset/images/linux/linux_06/sub/close_icon.png) !important;background-position:0 !important;color:#eceff4}
.ui-dialog .ui-dialog-content{padding:0 !important;border-radius:0;background:#fff !important;}
.ui-dialog .ui-dialog-titlebar-close{top:14px !important;right:14px !important;margin:0 !important;padding:0 !important;background-color:transparent;color:transparent;outline:none;cursor:pointer;}
.ui-dialog .ui-dialog-titlebar-close span{margin:0 !important;}
.ui-dialog .ui-dialog-titlebar-close .ui-icon{position:inherit !important;top:0 !important;left:0 !important;}
.ui-widget{font-size:17px !important;}
.ui-widget .ui-widget-content{border:0 !important;}
.ui-widget-overlay{opacity:0.5 !important;z-index:5;}

.pop_wrap{width:580px;border-radius:10px;box-sizing:border-box;}
.pop_wrap .pop_header{height:42px;line-height:42px;padding:0 10px 0 20px;border-bottom:1px solid #d6d6df;font-size:17px;color:#333;background-color:#eceff4}
.pop_wrap .pop_header .mdi-close{float:right;font-size:27px;color:#a3a9b0;}
.pop_wrap .pop_content{line-height:24px;padding:20px;font-size:16px;color:#333;background:#fff;overflow:hidden;}
.pop_wrap .pop_content .pop_btn{float:right;margin-top:20px;}
