@font-face {
	font-family:'Noto Sans';
	font-style:normal;
	font-weight:400;
	src:url('/asset/font/NotoSansCJKkr-Regular-subset.eot'),
	url('/asset/font/NotoSansCJKkr-Regular-subset.eot?#iefix') format('embedded-opentype');
	src:local(⊃);
	src:url('/asset/font/NotoSansCJKkr-Regular-subset.woff') format('woff'),
	url('/asset/font/fontNotoSansCJKkr-Regular-subset.otf') format('otf');
}
@font-face {
	font-family:'Noto Sans B';
	src:url('/asset/font/NotoSansCJKkr-Bold-subset.eot'),
	url('/asset/font/NotoSansCJKkr-Bold-subset.eot?#iefix') format('embedded-opentype');
	src:local(⊃);
	src:url('/asset/font/NotoSansCJKkr-Bold-subset.woff') format('woff'),
	url('/asset/font/NotoSansCJKkr-Bold-subset.otf') format('otf');
}
