.f_left{float:left;}

.m_top5{margin-top:5px;}
.m_right5{margin-right:5px;}

.p_left5{padding-left:5px;}


.bg{padding:10px;margin-bottom:20px;background:#cecece;font-family:'malgun gothic'}
.title{margin-bottom:10px;font-size:20px;}
.input_type1{width:30px;}
.input_type2{width:200px;}
.btn_type1{width:50px;height:20px;margin-right:10px;border-radius:5px;vertical-align:middle;background:orange;outline:none;}