.pie{
	$size:65px;
	width: 0px;
	height: 0px;
	border:$size solid #62a8ea;
	border-radius: 100%;
	position:relative;
	z-index:0;
	&:before{
      $fill:10px;
		display: block;
		content: "" ;
		width: 0px;
		height: 0px;
		border:($size - $fill) solid #fff;
		border-radius: 100%;
		position:absolute;
		top:-($size - $fill);
		left:-($size - $fill);
		z-index: 4;
	}
  &:after{
    display: block;
    content: attr(rel) "% " ;
    font-size:1.5em;
    position:absolute;
    height:$size;
    left:-$size;
    line-height:$size * 1.5;
    text-align:center;
    top:-$size;
    width:$size * 2;
    z-index: 4;
  }
  > section{
    border-left: $size solid transparent;
    border-bottom: $size solid transparent;
    content: '';
    width: 0px;
    height: 0px;
    border-radius: 100%;
    position:absolute;
    top:-$size;
    left:-$size;
    display:none;
    z-index:1;
  }
  .mask{
    border-top:$size solid #62a8ea;
    display:block;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index:2;

  }
  .mask, .one{
    border-right: $size solid transparent;
  }
  %half{
    display:block;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .one, .two, .three{
    border-top:$size solid #62a8ea;
  }
  .two, .three {
    border-top:$size solid #62a8ea;
    border-right:$size solid #62a8ea;
  }
  .three{
    z-index:3;
  }
  $percentage: 25;
  $degree:3.6deg;
  @for $i from 1 through $percentage {
    &[rel="#{$i}"] {
      .one{
        display:block;
        transform: rotate(-45 + $i*$degree);
        -webkit-transform: rotate(-45 + $i*$degree);
      }
    }
    &[rel="#{25 + $i}"] {
      .two{
        display:block;
        transform: rotate(-45+$i*$degree);
        -webkit-transform: rotate(-45+$i*$degree);
      }
    }
  }
  @for $i from 1 through ($percentage * 2) {
    &[rel="#{50 + $i}"] {
      .two{
        @extend %half;
      }
      .three{
        display:block;
        transform: rotate(45 + $i*$degree);
        -webkit-transform: rotate(45 + $i*$degree);
      }
    }
  }
  .content{
    height:$size * 2;
    left:-$size;
    line-height:$size * 2;
    position:absolute;
    text-align:center;
    top:-$size;
    width:$size * 2;
    z-index:4;
    span{
      display:inline-block;
      font-size:1.2em;
      line-height:1;
    }
  }
}
