.pie {
  width: 0px;
  height: 0px;
  border: 65px solid #d0e5f9;
  border-radius: 100%;
  position: relative;
  z-index: 0;
}
.pie:before {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  border: 55px solid #fff;
  border-radius: 100%;
  position: absolute;
  top: -55px;
  left: -55px;
  z-index: 4;
}
.pie > section {
  border-left: 65px solid transparent;
  border-bottom: 65px solid transparent;
  content: '';
  width: 0px;
  height: 0px;
  border-radius: 100%;
  position: absolute;
  top: -65px;
  left: -65px;
  display: none;
  z-index: 1;
}
.pie .mask {
  border-top: 65px solid #d0e5f9;
  display: block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  z-index: 2;
}
.pie .mask, .pie .one {
  border-right: 65px solid transparent;
}
.pie[rel="51"] .two, .pie[rel="52"] .two, .pie[rel="53"] .two, .pie[rel="54"] .two, .pie[rel="55"] .two, .pie[rel="56"] .two, .pie[rel="57"] .two, .pie[rel="58"] .two, .pie[rel="59"] .two, .pie[rel="60"] .two, .pie[rel="61"] .two, .pie[rel="62"] .two, .pie[rel="63"] .two, .pie[rel="64"] .two, .pie[rel="65"] .two, .pie[rel="66"] .two, .pie[rel="67"] .two, .pie[rel="68"] .two, .pie[rel="69"] .two, .pie[rel="70"] .two, .pie[rel="71"] .two, .pie[rel="72"] .two, .pie[rel="73"] .two, .pie[rel="74"] .two, .pie[rel="75"] .two, .pie[rel="76"] .two, .pie[rel="77"] .two, .pie[rel="78"] .two, .pie[rel="79"] .two, .pie[rel="80"] .two, .pie[rel="81"] .two, .pie[rel="82"] .two, .pie[rel="83"] .two, .pie[rel="84"] .two, .pie[rel="85"] .two, .pie[rel="86"] .two, .pie[rel="87"] .two, .pie[rel="88"] .two, .pie[rel="89"] .two, .pie[rel="90"] .two, .pie[rel="91"] .two, .pie[rel="92"] .two, .pie[rel="93"] .two, .pie[rel="94"] .two, .pie[rel="95"] .two, .pie[rel="96"] .two, .pie[rel="97"] .two, .pie[rel="98"] .two, .pie[rel="99"] .two, .pie[rel="100"] .two {
  display: block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.pie .one, .pie .two, .pie .three {
  border-top: 65px solid #62a8ea;
}
.pie .two, .pie .three {
  border-top: 65px solid #62a8ea;
  border-right: 65px solid #62a8ea;
}
.pie .three {
  z-index: 3;
}
.pie[rel="1"] .one {
  display: block;
  transform: rotate(-41.4deg);
  -webkit-transform: rotate(-41.4deg);
}
.pie[rel="26"] .two {
  display: block;
  transform: rotate(-41.4deg);
  -webkit-transform: rotate(-41.4deg);
}
.pie[rel="2"] .one {
  display: block;
  transform: rotate(-37.8deg);
  -webkit-transform: rotate(-37.8deg);
}
.pie[rel="27"] .two {
  display: block;
  transform: rotate(-37.8deg);
  -webkit-transform: rotate(-37.8deg);
}
.pie[rel="3"] .one {
  display: block;
  transform: rotate(-34.2deg);
  -webkit-transform: rotate(-34.2deg);
}
.pie[rel="28"] .two {
  display: block;
  transform: rotate(-34.2deg);
  -webkit-transform: rotate(-34.2deg);
}
.pie[rel="4"] .one {
  display: block;
  transform: rotate(-30.6deg);
  -webkit-transform: rotate(-30.6deg);
}
.pie[rel="29"] .two {
  display: block;
  transform: rotate(-30.6deg);
  -webkit-transform: rotate(-30.6deg);
}
.pie[rel="5"] .one {
  display: block;
  transform: rotate(-27deg);
  -webkit-transform: rotate(-27deg);
}
.pie[rel="30"] .two {
  display: block;
  transform: rotate(-27deg);
  -webkit-transform: rotate(-27deg);
}
.pie[rel="6"] .one {
  display: block;
  transform: rotate(-23.4deg);
  -webkit-transform: rotate(-23.4deg);
}
.pie[rel="31"] .two {
  display: block;
  transform: rotate(-23.4deg);
  -webkit-transform: rotate(-23.4deg);
}
.pie[rel="7"] .one {
  display: block;
  transform: rotate(-19.8deg);
  -webkit-transform: rotate(-19.8deg);
}
.pie[rel="32"] .two {
  display: block;
  transform: rotate(-19.8deg);
  -webkit-transform: rotate(-19.8deg);
}
.pie[rel="8"] .one {
  display: block;
  transform: rotate(-16.2deg);
  -webkit-transform: rotate(-16.2deg);
}
.pie[rel="33"] .two {
  display: block;
  transform: rotate(-16.2deg);
  -webkit-transform: rotate(-16.2deg);
}
.pie[rel="9"] .one {
  display: block;
  transform: rotate(-12.6deg);
  -webkit-transform: rotate(-12.6deg);
}
.pie[rel="34"] .two {
  display: block;
  transform: rotate(-12.6deg);
  -webkit-transform: rotate(-12.6deg);
}
.pie[rel="10"] .one {
  display: block;
  transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
}
.pie[rel="35"] .two {
  display: block;
  transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
}
.pie[rel="11"] .one {
  display: block;
  transform: rotate(-5.4deg);
  -webkit-transform: rotate(-5.4deg);
}
.pie[rel="36"] .two {
  display: block;
  transform: rotate(-5.4deg);
  -webkit-transform: rotate(-5.4deg);
}
.pie[rel="12"] .one {
  display: block;
  transform: rotate(-1.8deg);
  -webkit-transform: rotate(-1.8deg);
}
.pie[rel="37"] .two {
  display: block;
  transform: rotate(-1.8deg);
  -webkit-transform: rotate(-1.8deg);
}
.pie[rel="13"] .one {
  display: block;
  transform: rotate(1.8deg);
  -webkit-transform: rotate(1.8deg);
}
.pie[rel="38"] .two {
  display: block;
  transform: rotate(1.8deg);
  -webkit-transform: rotate(1.8deg);
}
.pie[rel="14"] .one {
  display: block;
  transform: rotate(5.4deg);
  -webkit-transform: rotate(5.4deg);
}
.pie[rel="39"] .two {
  display: block;
  transform: rotate(5.4deg);
  -webkit-transform: rotate(5.4deg);
}
.pie[rel="15"] .one {
  display: block;
  transform: rotate(9deg);
  -webkit-transform: rotate(9deg);
}
.pie[rel="40"] .two {
  display: block;
  transform: rotate(9deg);
  -webkit-transform: rotate(9deg);
}
.pie[rel="16"] .one {
  display: block;
  transform: rotate(12.6deg);
  -webkit-transform: rotate(12.6deg);
}
.pie[rel="41"] .two {
  display: block;
  transform: rotate(12.6deg);
  -webkit-transform: rotate(12.6deg);
}
.pie[rel="17"] .one {
  display: block;
  transform: rotate(16.2deg);
  -webkit-transform: rotate(16.2deg);
}
.pie[rel="42"] .two {
  display: block;
  transform: rotate(16.2deg);
  -webkit-transform: rotate(16.2deg);
}
.pie[rel="18"] .one {
  display: block;
  transform: rotate(19.8deg);
  -webkit-transform: rotate(19.8deg);
}
.pie[rel="43"] .two {
  display: block;
  transform: rotate(19.8deg);
  -webkit-transform: rotate(19.8deg);
}
.pie[rel="19"] .one {
  display: block;
  transform: rotate(23.4deg);
  -webkit-transform: rotate(23.4deg);
}
.pie[rel="44"] .two {
  display: block;
  transform: rotate(23.4deg);
  -webkit-transform: rotate(23.4deg);
}
.pie[rel="20"] .one {
  display: block;
  transform: rotate(27deg);
  -webkit-transform: rotate(27deg);
}
.pie[rel="45"] .two {
  display: block;
  transform: rotate(27deg);
  -webkit-transform: rotate(27deg);
}
.pie[rel="21"] .one {
  display: block;
  transform: rotate(30.6deg);
  -webkit-transform: rotate(30.6deg);
}
.pie[rel="46"] .two {
  display: block;
  transform: rotate(30.6deg);
  -webkit-transform: rotate(30.6deg);
}
.pie[rel="22"] .one {
  display: block;
  transform: rotate(34.2deg);
  -webkit-transform: rotate(34.2deg);
}
.pie[rel="47"] .two {
  display: block;
  transform: rotate(34.2deg);
  -webkit-transform: rotate(34.2deg);
}
.pie[rel="23"] .one {
  display: block;
  transform: rotate(37.8deg);
  -webkit-transform: rotate(37.8deg);
}
.pie[rel="48"] .two {
  display: block;
  transform: rotate(37.8deg);
  -webkit-transform: rotate(37.8deg);
}
.pie[rel="24"] .one {
  display: block;
  transform: rotate(41.4deg);
  -webkit-transform: rotate(41.4deg);
}
.pie[rel="49"] .two {
  display: block;
  transform: rotate(41.4deg);
  -webkit-transform: rotate(41.4deg);
}
.pie[rel="25"] .one {
  display: block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.pie[rel="50"] .two {
  display: block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.pie[rel="51"] .three {
  display: block;
  transform: rotate(48.6deg);
  -webkit-transform: rotate(48.6deg);
}
.pie[rel="52"] .three {
  display: block;
  transform: rotate(52.2deg);
  -webkit-transform: rotate(52.2deg);
}
.pie[rel="53"] .three {
  display: block;
  transform: rotate(55.8deg);
  -webkit-transform: rotate(55.8deg);
}
.pie[rel="54"] .three {
  display: block;
  transform: rotate(59.4deg);
  -webkit-transform: rotate(59.4deg);
}
.pie[rel="55"] .three {
  display: block;
  transform: rotate(63deg);
  -webkit-transform: rotate(63deg);
}
.pie[rel="56"] .three {
  display: block;
  transform: rotate(66.6deg);
  -webkit-transform: rotate(66.6deg);
}
.pie[rel="57"] .three {
  display: block;
  transform: rotate(70.2deg);
  -webkit-transform: rotate(70.2deg);
}
.pie[rel="58"] .three {
  display: block;
  transform: rotate(73.8deg);
  -webkit-transform: rotate(73.8deg);
}
.pie[rel="59"] .three {
  display: block;
  transform: rotate(77.4deg);
  -webkit-transform: rotate(77.4deg);
}
.pie[rel="60"] .three {
  display: block;
  transform: rotate(81deg);
  -webkit-transform: rotate(81deg);
}
.pie[rel="61"] .three {
  display: block;
  transform: rotate(84.6deg);
  -webkit-transform: rotate(84.6deg);
}
.pie[rel="62"] .three {
  display: block;
  transform: rotate(88.2deg);
  -webkit-transform: rotate(88.2deg);
}
.pie[rel="63"] .three {
  display: block;
  transform: rotate(91.8deg);
  -webkit-transform: rotate(91.8deg);
}
.pie[rel="64"] .three {
  display: block;
  transform: rotate(95.4deg);
  -webkit-transform: rotate(95.4deg);
}
.pie[rel="65"] .three {
  display: block;
  transform: rotate(99deg);
  -webkit-transform: rotate(99deg);
}
.pie[rel="66"] .three {
  display: block;
  transform: rotate(102.6deg);
  -webkit-transform: rotate(102.6deg);
}
.pie[rel="67"] .three {
  display: block;
  transform: rotate(106.2deg);
  -webkit-transform: rotate(106.2deg);
}
.pie[rel="68"] .three {
  display: block;
  transform: rotate(109.8deg);
  -webkit-transform: rotate(109.8deg);
}
.pie[rel="69"] .three {
  display: block;
  transform: rotate(113.4deg);
  -webkit-transform: rotate(113.4deg);
}
.pie[rel="70"] .three {
  display: block;
  transform: rotate(117deg);
  -webkit-transform: rotate(117deg);
}
.pie[rel="71"] .three {
  display: block;
  transform: rotate(120.6deg);
  -webkit-transform: rotate(120.6deg);
}
.pie[rel="72"] .three {
  display: block;
  transform: rotate(124.2deg);
  -webkit-transform: rotate(124.2deg);
}
.pie[rel="73"] .three {
  display: block;
  transform: rotate(127.8deg);
  -webkit-transform: rotate(127.8deg);
}
.pie[rel="74"] .three {
  display: block;
  transform: rotate(131.4deg);
  -webkit-transform: rotate(131.4deg);
}
.pie[rel="75"] .three {
  display: block;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.pie[rel="76"] .three {
  display: block;
  transform: rotate(138.6deg);
  -webkit-transform: rotate(138.6deg);
}
.pie[rel="77"] .three {
  display: block;
  transform: rotate(142.2deg);
  -webkit-transform: rotate(142.2deg);
}
.pie[rel="78"] .three {
  display: block;
  transform: rotate(145.8deg);
  -webkit-transform: rotate(145.8deg);
}
.pie[rel="79"] .three {
  display: block;
  transform: rotate(149.4deg);
  -webkit-transform: rotate(149.4deg);
}
.pie[rel="80"] .three {
  display: block;
  transform: rotate(153deg);
  -webkit-transform: rotate(153deg);
}
.pie[rel="81"] .three {
  display: block;
  transform: rotate(156.6deg);
  -webkit-transform: rotate(156.6deg);
}
.pie[rel="82"] .three {
  display: block;
  transform: rotate(160.2deg);
  -webkit-transform: rotate(160.2deg);
}
.pie[rel="83"] .three {
  display: block;
  transform: rotate(163.8deg);
  -webkit-transform: rotate(163.8deg);
}
.pie[rel="84"] .three {
  display: block;
  transform: rotate(167.4deg);
  -webkit-transform: rotate(167.4deg);
}
.pie[rel="85"] .three {
  display: block;
  transform: rotate(171deg);
  -webkit-transform: rotate(171deg);
}
.pie[rel="86"] .three {
  display: block;
  transform: rotate(174.6deg);
  -webkit-transform: rotate(174.6deg);
}
.pie[rel="87"] .three {
  display: block;
  transform: rotate(178.2deg);
  -webkit-transform: rotate(178.2deg);
}
.pie[rel="88"] .three {
  display: block;
  transform: rotate(181.8deg);
  -webkit-transform: rotate(181.8deg);
}
.pie[rel="89"] .three {
  display: block;
  transform: rotate(185.4deg);
  -webkit-transform: rotate(185.4deg);
}
.pie[rel="90"] .three {
  display: block;
  transform: rotate(189deg);
  -webkit-transform: rotate(189deg);
}
.pie[rel="91"] .three {
  display: block;
  transform: rotate(192.6deg);
  -webkit-transform: rotate(192.6deg);
}
.pie[rel="92"] .three {
  display: block;
  transform: rotate(196.2deg);
  -webkit-transform: rotate(196.2deg);
}
.pie[rel="93"] .three {
  display: block;
  transform: rotate(199.8deg);
  -webkit-transform: rotate(199.8deg);
}
.pie[rel="94"] .three {
  display: block;
  transform: rotate(203.4deg);
  -webkit-transform: rotate(203.4deg);
}
.pie[rel="95"] .three {
  display: block;
  transform: rotate(207deg);
  -webkit-transform: rotate(207deg);
}
.pie[rel="96"] .three {
  display: block;
  transform: rotate(210.6deg);
  -webkit-transform: rotate(210.6deg);
}
.pie[rel="97"] .three {
  display: block;
  transform: rotate(214.2deg);
  -webkit-transform: rotate(214.2deg);
}
.pie[rel="98"] .three {
  display: block;
  transform: rotate(217.8deg);
  -webkit-transform: rotate(217.8deg);
}
.pie[rel="99"] .three {
  display: block;
  transform: rotate(221.4deg);
  -webkit-transform: rotate(221.4deg);
}
.pie[rel="100"] .three {
  display: block;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}
.pie .content {
  height: 130px;
  left: -65px;
  line-height: 1;
  position: absolute;
  text-align: center;
  top: -65px;
  width: 130px;
  z-index: 4;
}
.pie .content span {
  display: inline-block;
  font-size: 1.2em;
  line-height: 1;
}
