.counsel #page_box #contents .contents_main .counsel_box .select_wrap .select2-container--puddlr {
	height: 100%;
	vertical-align: top;
}
.counsel #page_box #contents .contents_main .counsel_box .select_wrap .select2-container--puddlr .select2-selection--single {
	background-color: #fff;
	border: none;
	border-radius: 4px;
	outline: none;
	height: 100%;
}
.counsel #page_box #contents .contents_main .counsel_box .select_wrap .select2-container--puddlr .select2-selection--single .select2-selection__rendered {
	padding-left: 24px;
	font-size: 15px;
}
.select2-container--puddlr.select2-container--open .select2-dropdown {
	border: 1px solid #c9d0d4;
	border-radius: 4px;
}
.select2-container--puddlr.select2-container--open .select2-dropdown--below {
	margin-top: 2px;
}
.select2-container--puddlr.select2-container--open .select2-dropdown--above {
	margin-top: -2px;
}
.select2-container--puddlr .select2-results__option {
	font-size: 15px;
	padding-left: 23px;
}
