@media all and (min-width:961px) {
	#sub_page_wrap{width:100%;height:100%;}
	#sub_page_wrap #page_box{position:relative;height:100%;margin:0 auto;}
	#sub_page_wrap #page_box:after{content:'';display:table;clear:both;}
	#sub_page_wrap #page_box #menu{position:relative;float:left;overflow-y:auto;box-sizing:border-box;width:calc(50% - 290px);height:100%;max-height:100vh;padding-left:calc(50% - 480px);}
	#sub_page_wrap #page_box #contents{float:right;overflow-y:auto;box-sizing:border-box;width:calc(50% + 290px);height:100%;max-height:100vh;padding-right:calc(50% - 480px);background:#fff;}
}

/* left menu */
.menu_top{padding:50px 20px 30px 0;}
.menu_top .logo{margin-bottom:40px;}
.menu_top .search_box{height:30px;line-height:30px;padding:0 10px;border-radius:7px;background-color:rgba(255, 255, 255, 0.15)}
.menu_top .search_box .mdi.mdi-magnify{float:left;font-size:17px;color:#fff;opacity:0.5;}
.menu_top .search_input{float:left;width:calc(100% - 24px);height:30px;margin-left:5px;border:none;font-size:13px;color:#fff;font-family:'Noto Sans KR';background:transparent;outline:none}
.menu_top .search_input::placeholder{color:#fff;opacity:0.5;}

.m_search_box{width:calc(100% - 42px);height:30px;line-height:30px;padding:0 10px;border-radius:7px;background-color:rgba(255, 255, 255, 0.15)}
.m_search_box .mdi.mdi-magnify{float:left;font-size:17px;color:#fff;opacity:0.5;}
.m_search_box .search_input{float:left;width:calc(100% - 24px);height:30px;margin-left:5px;border:none;font-size:13px;color:#fff;font-family:'Noto Sans KR';background:transparent;outline:none}
.m_search_box .search_input::placeholder{color:#fff;opacity:0.5;}
/* mini - 검색창 */
.close_icon{float:right;width:28px;height:50px;margin-right:-10px;}
.close_icon .mdi.mdi-close{font-size:28px;color:#fff;}

.sub .menu_list{overflow-y:auto;box-sizing:border-box;height:calc(100vh - 252px);padding-bottom:50px;}
.sub .menu_list .menu_box{margin-bottom:25px;}
.sub .menu_list .menu_box:last-child{margin-bottom:40px}
.sub .menu_list .menu_box .menu_title{position:relative;line-height:1;margin-bottom:20px;padding-left:20px;font-size:16px;color:#fff;font-weight:500;}
.sub .menu_list .menu_box .menu_title a{color:#fff;}
.sub .menu_list .menu_box .menu_title .menu_icon{position:absolute;top:7px;left:0;width:8px;height:8px;background:url('/asset/puddlr/images/sub/menu_on.png') no-repeat;}
.sub .menu_list .menu_box .menu_title .mdi{position:absolute;top:1px;left:0px;font-size:15px;font-weight:700;color:#fff;}
.sub .menu_list .menu_depth{display:none;padding-left:20px;}
.sub .menu_list .menu_depth li a{color:#fff;}
.sub .menu_list .menu_depth li{line-height:1;margin-bottom:20px;font-size:13px;color:#fff;}
.sub .menu_list .menu_depth li.on a,
.sub .menu_list .menu_depth li.on{color:#ffea59;}
.sub .menu_list .menu_depth li:last-child{margin-bottom:0;}
.sub .menu_footer{position:fixed;bottom:0;width:170px;margin-bottom:30px}
.sub .menu_footer .footer{min-height:24px;font-size:12px;text-align:left;color:#a7ecf5;opacity:0.7;}

/* contents */
.scroll_up{position:absolute;bottom:20px;right:calc(50% - 555px);width:50px;height:50px;border:1px solid #c9d0d4;text-align:center;display:none;}
.scroll_up .mdi.mdi-arrow-collapse-up{line-height:50px;font-size:20px;color:#252e3f;}

.sub .contents_main{width:725px;padding:76px 0 0 45px;}
.sub .contents_main .title{box-sizing:border-box;padding:30px 0;font-size:21px;color:#252e3f;}
.sub .contents_main .title .m_logo{display:none;}
.sub .contents_main .title .m_search{display:none;}
.sub .contents_main .title .m_title{font-size:32px;font-family:'Noto Sans KR';font-weight:500;}
.sub .contents_main .title .m_title .m_icon{display:none}
.sub .contents_main #search_titlebar{display:none;}
.sub .contents_main .search_title{box-sizing:border-box;padding:40px 0;font-size:21px;color:#252e3f;}
.sub .contents_main .m_search_title{font-size:32px;font-family:'Noto Sans KR';font-weight:500;}
.sub .contents_main .contents_wrap{padding-bottom:50px;}

/* tab */
.sub .contents_main .tab{overflow:hidden;font-size:15px;margin-bottom:50px;}
.sub .contents_main .tab .tab_list{float:left;text-align:center;margin-right:10px;padding:0px 10px;font-size:15px;color:#a8acb4;cursor:pointer;font-weight:500;}
.sub .contents_main .tab .tab_list:first-child{text-align:left;padding-left:0;}
.sub .contents_main .tab .tab_list:last-child{padding-right:0;}
.sub .contents_main .tab .tab_list.on{background:url('/asset/puddlr/images/sub/tab_on.png');background-repeat:no-repeat;background-size:100% 48%;background-position:bottom;color:#252e3f;}

/* content : type - text */
.sub .type{border:1px solid #d9dee1;border-top:0;background:#fff;font-size:15px;box-sizing:border-box;}
.sub .issue_unread_count{display:inline-block;width:10px;height:10px;background-color: #f96868;border-radius:9px;}
.sub .type p.qna_title{position:relative;line-height:1;margin:0;padding:19px 35px;font-size:15px;color:#222;border-top:1px solid #d9dee1;cursor:pointer;}
.sub .type p.qna_title .mdi{position:absolute;top:18px;left:18px;font-size:16px;font-weight:700;}
.sub .type p.qna_title .mdi:not(:root:root){top:19px;}
.sub .type p.qna_title .mdi.mdi-plus{color:#020202;}
.sub .type p.qna_title.toggle{color:#46a5ff;border-bottom:1px solid #d9dee1;}
.sub .type p.qna_title.toggle .mdi.mdi-minus{color:#51aaff}
.sub .type .submenu{padding:25px 20px;background:#f8f8f9;font-size:14px;border-top:1px solid #d9dee1;}
.sub .submenu.hide{display:none;border-top:none;}
.sub .type .submenu div{font-size:14px;word-break:keep-all;}
/* new_style */
.sub .type p.qna_title2{margin:0;padding:19px 20px;font-size:15px;color:#222}
.sub .type p.qna_title2 a{font-size:15px;color:#62a8ea;line-height:20px;}
.sub .type p.qna_title2 a:hover{text-decoration:underline;}


/* 쩜 title */
.sub .type .submenu .tit{position:relative;padding-left:10px;padding-bottom:3px;font-family:'Noto Sans KR';font-weight:500;text-indent:0px;font-size:14px;word-break:keep-all}
.sub .type .submenu .tit:before{width:3px;height:3px;content:'';margin-right:0px;position:absolute;top:10px;left:0px;background:url('/asset/puddlr/images/sub/circle.png') no-repeat;vertical-align:middle;font-size:14px;}
/* 뎁스 (-) */
.sub .type .submenu .txt{line-height:23px;position:relative;padding-left:10px;padding-bottom:6px;text-indent:0px;vertical-align:middle;font-size:14px;word-break:keep-all}
.sub .type .submenu .txt:before{width:4px;height:1px;content:'-';margin-right:0px;position:absolute;top:-2px;left:0px/*;background:url('/asset/puddlr/images/sub/bar.png') no-repeat;vertical-align:middle;*/}
.sub .type .submenu .txt:last-child{padding-bottom:0px;}
/* 쩜 - title 아닌 스타일 */
.sub .type .submenu .txt2{line-height:23px;position:relative;padding-left:10px;padding-bottom:3px;text-indent:0px;font-size:14px;word-break:keep-all}
.sub .type .submenu .txt2:before{width:3px;height:3px;content:'';margin-right:0px;position:absolute;top:10px;left:0px;background:url('/asset/puddlr/images/sub/circle.png') no-repeat;vertical-align:middle;font-size:14px;}
.sub .type .submenu .txt2:last-child{padding-bottom:0px;}
/* 쩜 하위 뎁스 (-) */
.sub .type .submenu .txt3{line-height:23px;position:relative;padding-left:20px;padding-bottom:3px;text-indent:0px;vertical-align:middle;font-size:14px;word-break:keep-all}
.sub .type .submenu .txt3:before{width:4px;height:1px;content:'-';margin-right:0px;position:absolute;top:-2px;left:10px;}
.sub .type .submenu .txt3:last-child{padding-bottom:0px;}
/* 쩜 하위 뎁스 (-) : padding 좁게 */
.sub .type .submenu .txt3_2{line-height:23px;position:relative;padding-left:10px;padding-bottom:3px;text-indent:0px;vertical-align:middle;font-size:14px;word-break:keep-all}
.sub .type .submenu .txt3_2:before{width:4px;height:1px;content:'-';margin-right:0px;position:absolute;top:-2px;left:0px;}
.sub .type .submenu .txt3_2:last-child{padding-bottom:0px;}
/* 쩜 하위 뎁스 (-) : padding 넓게 */
.sub .type .submenu .txt3_1{line-height:23px;position:relative;padding-left:30px;padding-bottom:3px;text-indent:0px;vertical-align:middle;font-size:14px;word-break:keep-all}
.sub .type .submenu .txt3_1:before{width:4px;height:1px;content:'-';margin-right:0px;position:absolute;top:-2px;left:20px;}
.sub .type .submenu .txt3_1:last-child{padding-bottom:0px;}
/* - 뎁스 안 뎁스 ㄱ.ㄴ.ㄷ. */
.sub .type .submenu .txt4{line-height:23px;padding-left:30px;padding-bottom:3px;text-indent:0px;vertical-align:middle;font-size:14px;word-break:keep-all}
.sub .type .submenu .txt4:last-child{padding-bottom:0px;}
/* 회색 글씨 - 뎁스 있음*/
.sub .type .submenu .txt5{position:relative;line-height:23px;padding-left:20px;padding-bottom:3px;text-indent:0px;vertical-align:middle;font-size:14px;color:#a1a7ae;word-break:keep-all}
.sub .type .submenu .txt5:last-child{padding-bottom:0px;}
/* 회색 글씨 - 뎁스 있고 정렬*/
.sub .type .submenu .txt5_1{position:relative;line-height:23px;padding-left:25px;padding-bottom:3px;text-indent:0px;vertical-align:middle;font-size:14px;word-break:keep-all}
.sub .type .submenu .txt5_1:before{content:'\203B';margin-right:0px;position:absolute;top:0px;left:10px;}
/* 회색 글씨 - 뎁스 없음*/
.sub .type .submenu .txt8{position:relative;line-height:23px;padding-left:30px;padding-bottom:3px;text-indent:0px;vertical-align:middle;font-size:14px;color:#a1a7ae;word-break:keep-all}
.sub .type .submenu .txt8:before{position:absolute;content:'\203B';margin-right:0px;top:0px;left:10px;vertical-align:middle;}
/* 글자 기울림 스타일 */
.sub .type .submenu .txt6{line-height:23px;position:relative;padding-left:17px;padding-bottom:6px;text-indent:0px;vertical-align:middle;font-size:13px;color:#a1a7ae;font-style:italic;word-break:keep-all}
.sub .type .submenu .txt6:before{position:absolute;content:'\203B';margin-right:0px;top:0px;left:0px;vertical-align:middle;}
.sub .type .submenu .txt6:last-child{padding-bottom:0px;}
/* 아무것도 없는 글자 */
.sub .type .submenu .txt7{position:relative;line-height:23px;padding-left:0px;}
.sub .type .submenu .txt7:before{position:absolute;margin-right:0px;top:0px;left:10px;vertical-align:middle;}

/* no_bg */
/* 쩜 title */
.sub .submenu.no_bg .tit{position:relative;line-height:27px;padding-left:10px;font-family:'Noto Sans KR';font-weight:500;text-indent:0px;font-size:15px;word-break:keep-all}
.sub .submenu.no_bg .tit:before{width:3px;height:3px;content:'';margin-right:0px;position:absolute;top:12px;left:0px;background:url('/asset/puddlr/images/sub/circle.png') no-repeat;vertical-align:middle;font-size:15px;}
/* 뎁스 (-) */
.sub .submenu.no_bg .txt{position:relative;padding-left:10px;line-height:27px;vertical-align:middle;font-size:15px;word-break:keep-all}
.sub .submenu.no_bg .txt:before{width:4px;height:1px;content:'-';margin-right:0px;position:absolute;top:0px;left:0px;}
/* 쩜 - title 아닌 스타일 */
.sub .submenu.no_bg .txt2{position:relative;padding-left:10px;line-height:27px;font-size:15px;word-break:keep-all}
.sub .submenu.no_bg .txt2:before{width:3px;height:3px;content:'';margin-right:0px;position:absolute;top:12px;left:0px;background:url('/asset/puddlr/images/sub/circle.png') no-repeat;vertical-align:middle;font-size:15px;}
/* 쩜 하위 뎁스 (-) */
.sub .submenu.no_bg .txt3{position:relative;padding-left:20px;line-height:27px;vertical-align:middle;font-size:15px;word-break:keep-all}
.sub .submenu.no_bg .txt3:before{width:4px;height:1px;content:'-';margin-right:0px;position:absolute;top:-2px;left:10px;}
/* 쩜 하위 뎁스 (-) 없음 */
.sub .submenu.no_bg .txt3_1{position:relative;padding-left:20px;line-height:27px;vertical-align:middle;font-size:15px;word-break:keep-all}
/* - 뎁스 안 뎁스 ㄱ.ㄴ.ㄷ. */
.sub .submenu.no_bg .txt4{padding-left:30px;line-height:27px;vertical-align:middle;font-size:15px;word-break:keep-all}
/* 숫자 안 뎁스 넓게 */
.sub .submenu.no_bg .txt4_1{position:relative;padding-left:30px;line-height:27px;vertical-align:middle;font-size:15px;word-break:keep-all}
.sub .submenu.no_bg .txt4_1:before{width:4px;height:1px;content:'-';margin-right:0px;position:absolute;top:-2px;left:20px;}
/* 회색 글씨 */
.sub .submenu.no_bg .txt5{padding-left:20px;line-height:27px;vertical-align:middle;font-size:15px;color:#a1a7ae;word-break:keep-all}
/* 쩜 - 기본 아무것도 없는 스타일 */
.sub .submenu.no_bg .txt6{line-height:25px;}
/* 파란 글씨 - 이탤릭 체 - 쩜 하위 (-)없음 > 들여쓰기 */
.sub .submenu.no_bg .txt7{line-height:23px;position:relative;padding-left:20px;padding-bottom:6px;text-indent:0px;vertical-align:middle;font-size:15px;color:#62a8ea;font-style:italic;word-break:keep-all}
/* 회색 글씨 - 이탤릭 체 - 쩜 하위 (-)없음  */
.sub .submenu.no_bg .txt8{line-height:23px;position:relative;padding-left:10px;padding-bottom:6px;text-indent:0px;vertical-align:middle;font-size:13px;color:#a1a7ae;font-style:italic;word-break:keep-all}
.sub .submenu.no_bg .txt8:before{content:'';margin-right:0px;position:absolute;top:3px;left:0px;background:none;vertical-align:middle;}
/* 쩜 - 타이틀 아닌 스타일 : 기본 글자 */
.sub .submenu.no_bg .txt9{line-height:23px;padding-left:10px;padding-bottom:3px;text-indent:0px;font-size:15px;word-break:keep-all}
.sub .submenu.no_bg .txt9:before{width:3px;height:3px;content:'';margin-right:0px;position:absolute;top:10px;left:0px;background:url('/asset/puddlr/images/sub/circle.png') no-repeat;vertical-align:middle;font-size:15px;}
/* 회색 글씨 - 뎁스 */
.sub .submenu.no_bg .txt10{position:relative;padding-left:40px;line-height:27px;vertical-align:middle;font-size:15px;color:#a1a7ae;word-break:keep-all}
.sub .submenu.no_bg .txt10:before{content:"\203B";margin-right:0px;position:absolute;top:0px;left:20px;vertical-align:middle;font-size:15px;}
/* 회색 글씨 - 뎁스넓게 */
.sub .submenu.no_bg .txt10_1{position:relative;padding-left:50px;line-height:27px;vertical-align:middle;font-size:15px;color:#a1a7ae;word-break:keep-all}
.sub .submenu.no_bg .txt10_1:before{content:"\203B";margin-right:0px;position:absolute;top:0px;left:30px;vertical-align:middle;font-size:15px;}
/* 회색 글씨 - 뎁스2 */
.sub .submenu.no_bg .txt11{position:relative;padding-left:30px;line-height:27px;vertical-align:middle;font-size:15px;color:#a1a7ae;word-break:keep-all}
.sub .submenu.no_bg .txt11:before{content:"\203B";margin-right:0px;position:absolute;top:0px;left:10px;vertical-align:middle;font-size:15px;}

/* step 설명 */
.sub .type .submenu .step{position:relative;padding-left:68px;padding-bottom:8px;text-indent:0px;vertical-align:middle;font-size:14px;word-break:keep-all;}
.sub .type .submenu .step_num{position:absolute;left:0;font-family:'Noto Sans KR';font-weight:500;}
.sub .type .submenu .step:last-child{padding-bottom:0px;}
.sub .type .submenu .step span.step_txt{display:inline-block;line-height:25px;}

.sub .num_box{position:relative;overflow:hidden;margin-bottom:5px;}
.sub .num_box:last-child{margin-bottom:0;}
.sub .num_icon{position:absolute;top:5px;left:0px;}

/* 이미지 리사이즈 */
.sub .img{width:100%;}
.sub .type .submenu .img{padding-bottom:20px;}

/* type b */
.sub .type.b .submenu .tit,
.sub .type.b .submenu .txt,
.sub .type.b .submenu .txt6,
.sub .type.b .submenu .txt7{float:left;width:calc(100% - 334px);}
.sub .type.b .submenu .txt3{float:left;width:calc(100% - 340px);}
.sub .type.b .submenu .txt3_1,
.sub .type.b .submenu .txt3_2{float:left;width:calc(100% - 350px);}
.sub p.qna_title .mdi{position:absolute;top:17px;left:18px;font-size:16px;font-weight:700;}
.sub p.qna_title .mdi.mdi-plus{color:#020202;}
.sub p.qna_title.toggle{color:#46a5ff;}
.sub p.qna_title.toggle .mdi.mdi-minus{color:#51aaff}

/* content : type - image_half */
.sub .type.b .submenu{overflow:hidden;}
.sub .type.b .submenu .img{width:291px;float:left;padding:5px 25px 5px 0px;}

/* content : type - image_full */
.sub .type.c .submenu .submenu_tab{display:table;margin:0 auto;padding-bottom:30px;overflow:hidden;line-height:1;}
.sub .type.c .submenu .submenu_tab .menu{display:inline-block;color:#252e3f;font-size:14px;color:#a8acb4;line-height:1;margin-right:30px;cursor:pointer;}
.sub .type.c .submenu .submenu_tab .menu:last-child{margin-right:0px;}
.sub .type.c .submenu .submenu_tab .menu.on{border-bottom:2px solid #252e3f;padding-bottom:2px;padding-right:0;color:#252e3f;}
.sub .type.c table{width:100%;border-top:1px solid #dfe3e5;}
.sub .type.c table tr:first-child td{background:#eff1f4;/*border-right:1px solid #dfe3e5;*/border-bottom:1px solid #dfe3e5;}
.sub .type.c table tr:first-child td:last-child{border-right:none;}
.sub .type.c table tr:not(:first-child) td{padding:0px;}
.sub .type.c table td:not(:first-child){text-align:center;border-left:1px solid #dfe3e5;}
.sub .type.c table td{padding:15px 20px;border-bottom:1px solid #dfe3e5;}
.sub .type.c table tr:last-child td{border-bottom:none !important;}
.sub .type.c table td .qna_title{border-top:none;}
.sub .type.c table td.table_bottom0{border-bottom:0 !important;}
.sub .type.c table td .qna_title.toggle{border-bottom:none;}

/* 기본 설명 (-) */
.sub .contents_info .description{position:relative;padding-left:10px;padding-bottom:8px;text-indent:0px;vertical-align:middle;font-size:15px;}
.sub .contents_info .description:before{position:absolute;top:10px;left:0px;width:3px;height:3px;content:'';margin-right:0px;background:url('/asset/puddlr/images/sub/circle.png') no-repeat;vertical-align:middle;}
.sub .contents_info .description:last-child{padding-bottom:0px !important;}

/* 검색결과 */
.sub .point_color{color:#62a8ea}
.sub .line_bar{width:100%;height:1px;margin-bottom:50px;background:#d4d6d9}
.sub .search_result .result_txt{margin-bottom:15px;color:#252e3f;font-size:17px;}
.sub .search_result .result_txt a{color:#252e3f;text-decoration:underline;font-size:17px;}
.sub .search_result .result_txt:hover a{color:#62a8ea}
.sub .search_loading{position:fixed;z-index:1;top:50%;left:calc(75% - 145px);margin-top:-70.5px;margin-left:-70.5px;}

@media all and (max-width:960px) {
	html.sub{background:none;}
	body.sub{height:auto;}
	#sub_page_wrap #page_box{width:auto;}
	#sub_page_wrap #page_box #top{display:block}
	.sub #menu {display: none;-webkit-overflow-scrolling: touch;}
	.sub .active_menu {overflow: hidden;}
	.sub .active_menu #menu {position: fixed;z-index: 10;top: 50px;left: 0;display: block;width: 100%;height: calc(100% - 50px);background-image: linear-gradient(to bottom, #54afe5, #45b7e1);background-repeat: no-repeat;}
	.sub .menu_top{display:none;}
	.sub #contents{float:none;width:100% !important}
	.sub .contents_main{width:100vw;padding:0px;}
	.sub .contents_main .title{height:50px;line-height:50px;padding:0 15px;background-image:linear-gradient(#62a8ea, #54afe5);display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
	.sub .contents_main .title .m_logo{display:block;width:50px;height:24px;}
	.sub .contents_main .title .m_logo .icon{width:22px;vertical-align:top}
	.sub .contents_main .title .m_search{display:block;width:50px;height:100%;/*height:17px;*/text-align:right;}
	.sub .contents_main .title .m_search .mdi.mdi-magnify{font-size:26px;font-weight:700;color:#fff;opacity:1}
	.sub .contents_main .title .m_title{text-align:center;font-size:17px;color:#fff;-webkit-box-flex:1.0;-ms-flex:1 1 0%;-webkit-flex:1 1 0%;flex:1 1 0%;cursor:pointer;}
	.sub .contents_main .title .m_title .m_icon{display:inline-block;margin-left:5px;}

	.sub .contents_main #search_titlebar{display:flex;}
	.sub .contents_main .search_title{padding:0;}
	.sub .contents_main .m_search_title{font-size:17px;cursor:pointer;}
	.sub .contents_main .tab{height:auto;padding:0px;font-size:15px;background-image:linear-gradient(to bottom, #54afe5, #45b7e1);}
	.sub .contents_main .tab.opened{background:#f8f8f9;}
	.sub .contents_main .tab.opened .tab_list:first-child{color:#a8acb4}
	.sub .contents_main .tab.opened .tab_list{display:block;background:#f8f8f9;}
	.sub .contents_main .tab .tab_wrap{display:block;margin:0px;border-bottom: 1px solid #d9dee1;}
	.sub .contents_main .tab .tab_list{height:50px;line-height:50px;float:none;min-width:0px;margin-right:0px;padding:0px;box-sizing:border-box;border-radius:0px;font-size:14px;display:none;color:#a8acb4;}
	.sub .contents_main .tab:not(.opened) .tab_list.on:after{display: inline-block;font:normal normal normal 24px/1 "Material Design Icons";font-size:inherit;text-rendering: auto;line-height:inherit;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;content: "\F35D";}
	.sub .contents_main .tab .tab_list:first-child{text-align:center;padding-left:0px;}
	.sub .contents_main .tab .tab_list:last-child{margin-right:0px;}
	.sub .contents_main .tab .tab_list.on{background:rgba(255, 255, 255, 0.3);background:#f8f8f9 !important;color:#252e3f;display:block;}
	.sub .contents_main .tab.opened .tab_list.on{color:#252e3f}
	.sub .contents_main .tab.opened + .contents_wrap:before{content:"";position:fixed;z-index:3;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.65);}
	.sub .contents_main .contents_wrap{padding:30px 0px;}
	.sub .contents_main .contents_wrap .contents_body{width:720px;margin:0 auto;}
	.sub .type{width:100%;}
	.sub .type .submenu .img{width:auto;max-width:100%;padding-bottom:20px;}
	.sub .type.b .submenu .img{float:none;padding-right:0px;padding-bottom:20px;}
	.sub .type.c .submenu .img{max-width:100%;padding-bottom:20px;}
	.sub .type.b .submenu .tit,
	.sub .type.b .submenu .txt,
	.sub .type.b .submenu .txt6,
	.sub .type.b .submenu .txt3,
	.sub .type.b .submenu .txt3_1,
	.sub .type.b .submenu .txt3_2,
	.sub .type.b .submenu .txt7{width:100%;}
	.sub .type.b .submenu .tit,
	.sub .type.b .submenu .txt{width:100%;}

	.sub .menu_list{height:calc(100vh - 50px);}
	.sub .menu_list .menu_box{margin-bottom:0;}
	.sub .menu_list .menu_box:last-child{margin-bottom:0;}
	.sub .menu_list .menu_box .menu_title{height:50px;line-height:50px;margin-bottom:0;padding:0 30px;font-size:17px;}
	.sub .menu_list .menu_box .menu_title .mdi{position:absolute;top:1px;left:auto;right:27px;font-size:22px;font-weight:700;color:#fff;}
	.sub .menu_list .menu_box .menu_depth{padding-left:30px;background-color:#52a5da;}
	.sub .menu_list .menu_box .menu_depth li{height:46px;line-height:46px;margin-bottom:0;font-size:14px;}
	.sub .menu_footer{display:none;}

	.sub .line_bar{margin:30px 0;}
	.sub .scroll_up{z-index:-1;right:0;}
	.sub .search_loading{top:50vh;left:50vw;width:100px;height:100px;margin-top:-50px;margin-left:-50px;}

	.sub #contents_cs_wrapper .title{position:fixed;z-index:5;top:0;width:100%;}
	.sub #contents_cs_wrapper .tab{position:fixed;z-index:5;top:50px;width:100%;}
	.sub #contents_cs_wrapper .contents_wrap{margin-top:100px;}
	.sub .no-tabs #contents_cs_wrapper #contents_normal .contents_wrap{margin-top:50px;}
}

@media all and (max-width:750px) {
	.sub .contents_main .contents_wrap{padding:30px 15px;}
	.sub .contents_main .contents_wrap .contents_body{width:auto;margin:0 auto;}

	.sub .type.c table td{padding:10px;font-size:12px;}
	.sub .type.c table td .qna_title{font-size:12px;}

	.sub .type.c p.qna_title{min-width:70px;padding:10px 10px 10px 21px}
	.sub .type.c p.qna_title .mdi{position:absolute;top:calc(50% - 6.5px);left:8px;font-size:12px;font-weight:700;}
	.sub .type.c p.qna_title .mdi:not(:root:root){top:calc(50% - 6.5px);}

	.sub .type p.qna_title2{min-width:60px;padding:10px;font-size:12px;}
	.sub .type p.qna_title2 a{font-size:12px;}

	.sub .type.c table td .submenu .txt2{font-size:12px;}
}



/* adm */
.sub2 #sub_page_wrap2{width:100%;height:100%;}
.sub2 #sub_page_wrap2 #page_box{position:relative;height:100%;margin:0 auto;}
.sub2 #sub_page_wrap2 #page_box:after{content:'';display:table;clear:both;}
.sub2 #sub_page_wrap2 #page_box #menu{position:relative;float:left;box-sizing:border-box;width:calc(50% - 310px);height:100%;max-height:100vh;padding-left:calc(50% - 500px);}
.sub2 #sub_page_wrap2 #page_box #contents{float:right;box-sizing:border-box;width:calc(50% + 310px);height:100%;max-height:100vh;padding-right:calc(50% - 500px);background:transparent;}

/*.sub2 .adm_menu{border-right:1px solid #d9dee1;}*/
.sub2 .adm_menu .menu_list{padding-top:50px;}
.sub2 .adm_menu .menu_list .menu_box{line-height:1;margin-bottom:20px;}
.sub2 .adm_menu .menu_list .menu_box .menu_title{position:relative;}
.sub2 .adm_menu .menu_list .menu_box .menu_title a{color:#333;}
.sub2 .adm_menu .menu_list .menu_box .menu_title a .mdi{top:0;line-height:1;font-size:18px;color:#66aaea}
.sub2 .adm_menu .menu_list .menu_box .menu_title a span{margin-left:10px;font-size:16px;color:#333;letter-spacing:-1.0px;font-weight:500;}
.sub2 .adm_menu .menu_list .menu_box .menu_title a span:hover{text-decoration:underline;}

.sub2 .contents_main{width:810px;min-height:100%;height:auto;padding:42px 0 0 45px;border-left:1px solid #d9dee1;box-sizing:border-box;}
.sub2 .contents_main .title{box-sizing:border-box;padding-bottom:30px;font-size:32px;color:#252e3f;font-family:'Noto Sans KR';font-weight:500}
.sub2 .contents_main .contents_wrap{padding-bottom:50px;}

.sub2 .contents_main .tab{overflow:hidden;font-size:15px;margin-bottom:50px;}
.sub2 .contents_main .tab .tab_list{float:left;text-align:center;margin-right:10px;padding:0px 10px;font-size:15px;color:#a8acb4;cursor:pointer;font-weight:500;}
.sub2 .contents_main .tab .tab_list:first-child{text-align:left;padding-left:0;}
.sub2 .contents_main .tab .tab_list:last-child{padding-right:0;}
.sub2 .contents_main .tab .tab_list.on{background:url('/asset/puddlr/images/sub/tab_on.png');background-repeat:no-repeat;background-size:100% 48%;background-position:bottom;color:#252e3f;}
.sub2 .contents_main .tab .tab_list.last{float:right;text-align:right;padding-right:0;margin-right:0}

.sub2 .member_list{width:100%}
.sub2 .member_list tr{height:69px;}
.sub2 .member_list tr td{padding:11px 10px;border-bottom:1px solid #e7e9ea}
.sub2 .member_list tr td:first-child{padding-left:20px;}
.sub2 .member_list tr td:last-child{padding-right:20px;}
.sub2 .member_list tr:hover td{background-color:#f1f7fd;cursor:pointer;}
.sub2 .member_list tr td span{line-height:47px;vertical-align:top;}
.sub2 .member_list tr td .profile{display:inline-block;width:47px;height:47px;margin:0;border:1px solid #ccd2d6;border-radius:50%;box-sizing:border-box;vertical-align:top;background-size: 45px;}
.sub2 .member_list tr td .name{display:inline-block;max-width:177px;font-size:15px;color:#303e4d;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.sub2 .member_list tr td .mail{display:inline-block;max-width:263px;font-size:15px;color:#303e4d;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.sub2 .member_list tr td .part{display:inline-block;max-width:187px;font-size:15px;color:#303e4d;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.sub2 .member_list tr td .date{font-size:15px;color:#333}
.sub2 .member_list tr td .from{font-size:14px;color:#999}
.sub2 .member_list tr td .user_pic{display:inline-block;width:45px;height:45px;margin-right:14px;border-radius:50%;border:1px solid #c9d0d4;box-sizing:border-box;background-size:43px;vertical-align:top;}
.sub2 .member_list tr td .check_input{opacity:0;}
.sub2 .member_list tr td .check_label{display:inline-block;width:30px;height:30px;margin-top:-30px;border-radius:50%;border:1px solid #c9d0d4;background:#fff;cursor:pointer;}
.sub2 .member_list tr td input[type=checkbox]:checked + label.check_label{border:0;background-image:url(/asset/puddlr/images/sub/check_on.png);}


.sub2 .search_wrap{width:100%;margin-bottom:9px;}
.sub2 .search_wrap .search_box{position:relative;float:left;width:460px;height:50px;padding-left:50px;border:1px solid #c9d0d4;border-radius:5px;box-sizing:border-box;}
.sub2 .search_wrap .search_box.focus{border-color:#62a8ea;border-radius:5px;}
.sub2 .search_wrap .search_box .mdi-magnify{position:absolute;top:0;left:20px;line-height:48px;font-size:24px;color:#a1a7ae}
.sub2 .search_wrap .search_box .input_box{width:99%;height:48px;line-height:48px;padding:0;font-size:15px;box-sizing:border-box;border:none;outline:none}
.sub2 .search_wrap .search_box .input_box::placeholder{color:#999;}
.sub2 .search_wrap .array_box{position:relative;float:right;width:284px;height:50px;border:1px solid #c9d0d4;border-radius:5px;box-sizing:border-box;background-color:#fff}
.sub2 .search_wrap .array_box .array_title{line-height:1;font-size:15px;color:#a1a7ae;}
.sub2 .search_wrap .array_box .btn_dropdown{width:100%;height:48px;margin-right:10px;background-color:#fff;padding:0 20px;text-align:left;cursor:pointer;line-height:1;font-size:15px;box-sizing:border-box;border:none;border-radius:5px;outline:none;}
.sub2 .search_wrap .array_box .btn_dropdown .array_choice{margin-left:10px;color:#333;}
.sub2 .search_wrap .array_box .dropdown_menu{position:absolute;top:0px;left:0px;width:100%;padding:10px;margin-top:3px;box-shadow:1px 1px 1px 0 rgba(0, 0, 0, 0.15);border:1px solid #c9d0d4;border-radius:5px;background-color:#fff;box-sizing:border-box;transform:translate3d(0px, 48px, 0px);will-change:transform;display:none;}
.sub2 .search_wrap .array_box .dropdown_menu > li{height:30px;padding:0;}
.sub2 .search_wrap .array_box .dropdown_menu > li.active {background-color:#f3f4f4;border-radius:3px;}
.sub2 .search_wrap .array_box .dropdown_menu > li > a{display:inline-block;width:100%;padding:7px 10px 5px 84px;text-align:left;white-space:nowrap;color:#333;cursor:pointer;font-weight:400;line-height:18px;box-sizing:border-box;}
.sub2 .search_wrap .array_box .dropdown_menu > li:hover > a{border-radius:3px;color:#62a8ea;background-color:#e0eefb;}
.sub2 .search_wrap .array_box .mdi-menu-down{position:absolute;top:5px;right:0;padding-right:10px;font-size:25px;background:#fff}
/* 그룹 사용량 */
.usgae_wrap{padding-bottom:185px;}
.usgae_wrap .usage_top{margin-bottom:50px;text-align:center;letter-spacing:-1.0px}
.usgae_wrap .usage_top .usage_now{line-height:1;margin-bottom:20px;font-size:25px;color:#333;font-weight:500}
.usgae_wrap .usage_top .usage_memo{line-height:1;margin-bottom:10px;font-size:15px;color:#333;font-weight:500}
.usgae_wrap .usage_top a .f_color1{font-weight:500}

.usgae_wrap .usage_mid{width:100%;margin-bottom:70px;}
.usgae_wrap .usage_mid .usage_box{width:50%;padding:30px 0;border:1px solid #d9dee1;box-sizing:border-box;text-align:center;letter-spacing:-1.0px;}
.usgae_wrap .usage_mid .usage_box.left{float:left;}
.usgae_wrap .usage_mid .usage_box.right{float:right;border-left:0;}
.usgae_wrap .usage_mid .usage_box .usage_title{font-size:17px;font-weight:500}
.usgae_wrap .usage_mid .usage_box .pie_chart{position:relative;width:130px;height:130px;margin:25px auto;}
.usgae_wrap .usage_mid .usage_box .pie_chart .number{position:absolute;top:calc(50% - 17px);left:calc(50% - 45px);width:90px;line-height:1;font-size:33px;color:#333;font-family:'Noto Sans KR';text-align:center;}
.usgae_wrap .usage_mid .usage_box .user_box{margin-top:24px;line-height:1;}
.usgae_wrap .usage_mid .usage_box .color_box1{display:inline-block;width:10px;height:10px;margin-right:7px;background-color:#62a8ea;}
.usgae_wrap .usage_mid .usage_box .color_box2{display:inline-block;width:10px;height:10px;margin-right:7px;background-color:#d0e5f9;}
.usgae_wrap .usage_mid .usage_box .color_tit{font-size:15px;color:#333;margin-right:7px;}
.usgae_wrap .usage_mid .usage_box .color_tit2{font-size:15px;color:#999;margin:10px 0 34px;font-weight:500}
.usgae_wrap .usage_mid .usage_box .color_tit2:last-child{margin-bottom:16px;}
.usgae_wrap .usage_mid .usage_box .color_size{font-size:15px;color:#999;margin-right:25px;}
.usgae_wrap .usage_mid .usage_box .color_size:last-child{margin-right:0;}

.usgae_wrap .usage_bottom .usage_list_table{width:100%;margin:30px 0 70px;border:1px solid #d9dee1;}
.usgae_wrap .usage_bottom .usage_list_table tr td{padding:25px 0;border-right:1px solid #d9dee1;background-color:#f0f7fd;text-align:center;}
.usgae_wrap .usage_bottom .usage_list_table tr td:last-child{border-right:0}
.usgae_wrap .usage_bottom .usage_list_table tr td.no{background:#f8f8f9;}
.usgae_wrap .usage_bottom .usage_list_table tr td .mdi{line-height:1;font-size:26px;color:#62a8ea}
.usgae_wrap .usage_bottom .usage_list_table tr td .mdi.not{color:#a1a7ae}
.usgae_wrap .usage_bottom .usage_list_table tr td .offer{display:inline-block;height:24px;line-height:23px;padding:0 10px;background-color:#62a8ea;border-radius:25px;font-size:14px;color:#fff;font-weight:400;vertical-align:top;}
.usgae_wrap .usage_bottom .usage_list_table tr td .offer.not{background-color:#d9dee1;color:#999;}
.usgae_wrap .usage_bottom .usage_list_table tr td.remove_box{padding-bottom:18px;}
.usgae_wrap .usage_bottom .usage_list_table tr td.remove_box .f_style1{margin-bottom:18px;}
.usgae_wrap .usage_bottom .usage_list_table tr td.remove_box .select_term{position:relative;width:114px;height:37px;padding:0 10px;margin:0 auto;border:1px solid #c9d0d4;border-radius:5px;font-size:14px;box-sizing:border-box;outline:none;background:#fff;cursor:pointer;}
.usgae_wrap .usage_bottom .usage_list_table tr td.remove_box .select_term .mdi{font-size:15px;color:#999}
.usgae_wrap .usage_bottom .usage_list_table tr td.remove_box .select_term .txt{text-align:left;line-height:35px;color:#999}
.usgae_wrap .usage_bottom .usage_list_table .cal_layer{position:absolute;top:38px;right:20px;width:425px;border:1px solid #c9d0d4;border-radius:5px;z-index:1;background:#fff;}
.usgae_wrap .usage_bottom .usage_list_table .cal_layer .layer_top .date_start{float:left;width:50%;padding-top:20px;border-right:1px solid #c9d0d4;box-sizing:border-box}
.usgae_wrap .usage_bottom .usage_list_table .cal_layer .layer_top .date_end{float:right;width:50%;padding-top:20px;box-sizing:border-box;font-weight:600}
.usgae_wrap .usage_bottom .usage_list_table .cal_layer .layer_top .title{line-height:1;padding-bottom:10px !important;font-size:14px !important;text-align:center;font-weight:600}
.usgae_wrap .usage_bottom .usage_list_table .cal_layer .layer_top .custom_cal{font-size:12px;}
.usgae_wrap .usage_bottom .usage_list_table .cal_layer .layer_bottom{padding:15px;border-top:1px solid #c9d0d4;overflow:hidden}
.usgae_wrap .usage_bottom .usage_list_table .cal_layer .layer_bottom .link_btn{margin-right:20px;font-size:14px;color:#46a5ff;text-decoration:underline !important;cursor:pointer}
.usgae_wrap .usage_bottom .chart_box{width:100%;padding:25px 30px 20px;border:1px solid #d9dee1;box-sizing:border-box;text-align:center;}

/* datapicker */
.ui-datepicker{width:auto !important;padding:0 10px !important;border:0 !important;border-radius:0 !important}
.ui-datepicker .ui-datepicker-header{padding:0 !important;border:0 !important;background-color:#fff !important}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title{margin:0 !important;line-height:1 !important;font-size:12px;font-weight:500 !important;color:#303e4d !important;background:#fff;}
.ui-datepicker .ui-widget-header .ui-icon{background-image:url(/asset/puddlr/images/sub/ui-icons_222222_256x240.png);}
.ui-datepicker .ui-datepicker-prev{top:-5px !important;left:42px !important;width:24px !important;height:24px !important;}
.ui-datepicker .ui-datepicker-next{top:-5px !important;right:42px !important;width:24px !important;height:24px !important;}
.ui-datepicker .ui-datepicker-prev-hover{top:-5px !important;left:42px !important}
.ui-datepicker .ui-datepicker-next-hover{top:-5px !important;right:42px !important}
.ui-datepicker .ui-datepicker-next.ui-state-disabled{opacity:0 !important;}
.ui-datepicker .ui-state-hover{border:0 !important;background:transparent !important;cursor:pointer;}

.ui-datepicker .ui-datepicker-calendar{margin:10px 0 !important;}
.ui-datepicker .ui-datepicker-calendar tr th{padding:2px 4px !important;font-size:12px;font-weight:500 !important;}
.ui-datepicker .ui-datepicker-calendar tr td{width:14.2857%;height:18px;padding:2px 3px !important;border:0 !important;background:#fff !important;font-size:11px !important;font-family:'Arial', 'Noto Sans KR';box-sizing:border-box;}
.ui-datepicker .ui-datepicker-calendar tr td a,
.ui-datepicker .ui-datepicker-calendar tr td span{padding:0 !important;text-align:center !important}

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-week-end:first-child,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-week-end:first-child a{color:#f96867 !important;}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-week-end:last-child,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-week-end:last-child a{color:#62a8ea !important;}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-week-end:first-child .ui-state-default.ui-state-active,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-week-end:first-child .ui-state-default.ui-state-highlight,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-week-end:last-child .ui-state-default.ui-state-active,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-week-end:last-child .ui-state-default.ui-state-highlight{color:#fff !important;}

.ui-datepicker .ui-datepicker-calendar .ui-state-default{border:0 !important;background:#fff !important;color:#515d6a !important;}
.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-state-active{border:1px solid #16bd93 !important;background:#16bd93 !important;border-radius:8px !important;color:#fff !important;}
.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-state-highlight{border:1px solid #16bd93 !important;border-radius:8px !important;background-color:transparent !important;}
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight.ui-state-active{border:1px solid #16bd93 !important;border-radius:8px !important;color:#fff !important;background:#16bd93 !important;color:#fff !important;}


/* 약관 */
.terms_box h5{margin-top:30px;margin-bottom:15px;font-size:16px;color:#363636;font-weight:600;}
.terms_box p{font-size:14px;color:#808080;margin-bottom:15px;}
.terms_box .declaration p:first-child{margin-bottom:0;}
.terms_box > ul > li{margin-bottom:10px;}
.terms_box ul li {font-size:14px;color: #808080;}

/* 그룹 설정 */
.group_setting{margin-bottom:35px;overflow:hidden;}
.group_setting .sub_title{line-height:1;margin-bottom:15px;font-size:15px;color:#333}
.group_setting .error{margin-left:15px;color:#f96868;}
.group_setting .input_box{float:left;width:calc(100% - 111px);height:50px;margin-bottom:15px;padding:0 20px;line-height:48px;border:1px solid #c9d0d4;border-radius:5px;font-size:15px;box-sizing:border-box;outline:none}
.group_setting .input_box::placeholder{color:#999;}
.group_setting .input_box.error{border-color:#f96868;}

/* 프로필 수정 */
.profile_box{margin-bottom:30px;}
.profile_box .profile_title{margin-bottom:15px;line-height:1;}
.profile_box .profile_title .text{font-size:15px;color:#333;font-weight:500;}
.profile_box .input_box{width:100%;height:50px;padding:0 20px;line-height:48px;border:1px solid #c9d0d4;border-radius:5px;font-size:15px;box-sizing:border-box;outline:none}
.profile_box .input_box::placeholder{color:#999;font-weight:400;}
.profile_box .input_box.big{width:100%;height:150px;padding:10px 20px;line-height:22px;border:1px solid #c9d0d4;border-radius:5px;box-sizing:border-box;outline:none}
.profile_box .input_box.error{border-color:#f96868;}
.profile_box .select_wrap{position:relative;width:100%;height:50px;line-height:48px;border:1px solid #c9d0d4;border-radius:5px;box-sizing:border-box;outline:none;}
.profile_box .select_wrap .select_box{border:none;width:100%;padding-left:20px;height:48px;line-height:48px;border-radius:5px;font-size:15px;vertical-align:top;outline:none;cursor:pointer;}
.profile_box .select_wrap .mdi-menu-down{position:absolute;top:0;right:0;width:40px;height:48px;border-radius:5px;font-size:20px;background:#fff}
.profile_box .text.error{margin-left:15px;font-size:15px;color:#f96868;}
.profile_box .text.noti{line-height:1;font-size:15px;color:#999;}
.profile_box.half:nth-child(even){float:left;width:calc(50% - 10px);}
.profile_box.half:nth-child(odd){float:right;width:calc(50% - 10px);}

.pic_wrap{padding:15px;border:1px solid #e7e9ea;border-radius:5px;overflow:hidden;}
.pic_wrap .pic_box{float:left;width:68px;height:68px;margin-right:20px;border:1px solid #c9d0d4;border-radius:5px;background-color:#eceff4;}
.pic_wrap .pic_box2{float:right;width:calc(100% - 90px);margin-top:6px;}