.tse-scrollbar {
    width: 10px;
}
.tse-scrollbar .drag-handle {
    right: 5px;
    width: 5px;
    background: #d9d9de;
}
.tse-scrollable:hover .tse-scrollbar .drag-handle,
.tse-scrollbar .drag-handle.visible {
    opacity: 1;
}



/* left menu */
#menu_cs_wrapper {
    width: 100%;
    height: 100%;
}



/* contents */
.sub2 #sub_page_wrap2 #page_box #contents {
    overflow: hidden;
    padding-right: 0;
}
#contents_cs_wrapper {
    width: 100%;
    height: calc(100vh - 70px);
}
@media all and (max-width:960px) {
    #contents_cs_wrapper {
        width: 100vw;
        height: 100vh;
    }
    #contents_cs_wrapper .contents_wrap {
        margin-top: 0;
    }
    #sub_page_wrap.active_menu #page_box #contents_cs_wrapper .tse-scrollbar {
        z-index: -1;
    }
    #sub_page_wrap.active_menu #page_box #contents_cs_wrapper .tse-scroll-content {
        overflow: hidden;
    }
}
